<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
				<string>mpv</string>
				<string>mpa</string>
				<string>m2v</string>
				<string>m2a</string>
				<string>mpg</string>
				<string>ogm</string>
				<string>mpeg</string>
				<string>avi</string>
				<string>mp3</string>
				<string>ogg</string>
				<string>wmv</string>
				<string>divx</string>
				<string>xvid</string>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>XPDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array/>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>DVD</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>XPDVDDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>XinePlayer</string>
	<key>CFBundleIconFile</key>
	<string>xineplayer</string>
	<key>CFBundleIdentifier</key>
	<string>de.berlios.xineplayer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>xine</string>
	<key>CFBundleVersion</key>
	<string>0.3</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
